{% extends "admin/businessmodel/base.html" %}
{% load i18n static %}

{% block content %}

<style>
/* Estilos para el contenedor principal */
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    max-width: 100%;
    max-height: 100%;
    height: 96%;
}



/* Estilos para la barra lateral de filtros */
.filter-sidebar {
    flex: 0 0 250px;
    margin-right: 1.5rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-group input:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.filter-button {
    background-color: #313030;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.filter-button:hover {
    background-color: #b80505;
}


.database-button {
    background-color: #535151;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    transition: background-color 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-color: #535151;
    border: none;
}

.database-button:hover {
    background-color: #b80505;
}

.results-button {
    background-color: #535151;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    transition: background-color 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-color: #535151;;
    border: none;
}

.results-button:hover {
    background-color: #b80505;
}

.report-button {
    background-color: #535151;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    transition: background-color 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-color: #535151;
    border: none;
}

.report-button:hover {
    background-color: #b80505;
}

.print-button {
    background-color: #535151;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    transition: background-color 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-color: #535151;
    border: none;
}

.print-button:hover {
    background-color: #b80505;
}



/* Estilos para el popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.popup-results {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    }



    .popup-content-results {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Ancho de la tabla */
        border-radius: 8px; /* Bordes redondeados */
    }


    

    table {
        width: 100%; /* Tabla ocupa todo el ancho */
        border-collapse: collapse; /* Colapsar bordes */
    }

    th, td {
        padding: 10px;
        text-align: left; /* Alinear texto a la izquierda */
        border-bottom: 1px solid #ddd; /* Línea inferior */
    }

    th {
        background-color: #f2f2f2; /* Color de fondo de encabezados */
        font-weight: bold; /* Negrita en encabezados */
    }

    tr:hover {
        background-color: #f5f5f5; /* Efecto hover */
    }

    .close {
        cursor: pointer;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.filter-popup-button {
    background-color: #535151;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    transition: background-color 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-color: #535151;
    border: none;
}

.filter-popup-button:hover {
    background-color: #b80505;
}

/* Estilos para la carta de resultados */
.results-card {
    flex: 1 1 calc(65% - 1.5rem);
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex; 
}

/* Estilo para las tabs en disposición vertical */
.tabs {
    display: flex;
    flex-direction: column; 
    margin-right: 1.5rem; 
    background-color: #535151;; 
   
}

.tab-button {
    background-color: #535151; 
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px 0; 
    transition: background-color 0.3s;
    border-radius: 50%; /* Botones redondos */
    width: 40px; /* Ancho fijo */
    height: 40px; /* Alto fijo */
}

.tab-button:hover {
    background-color: #b80505; 
}

/* Nueva clase para las tabs en el lado izquierdo */
.vertical-tabs-left {
  flex: 0 0 auto;
  background-color: #535151;
  padding: 0.5rem;
  border: 1px solid #313030;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 69px;
  height: 72%;
  margin-top: 10px;
}


/* Nueva clase para las tabs en el lado derecho */
.vertical-tabs-right {
  flex: 0 0 auto;
  background-color: #535151;
  padding: 0.5rem;
  border: 1px solid #313030;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 69px;
  height: 89%;
  margin-top: 10px;
}
/* Estilos para la carta de resultados */
.results-card {
    flex: 1; /* Ocupar el espacio restante */
    background-color: #313030;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 0; /* Sin margen inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; /* Mantener el diseño en fila */
}

/* Ajuste para el gráfico */
.chart-container {
    flex: 1; /* Ocupar el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evitar desbordamiento */
}

.chart-container img {
    width: 100%; /* Ajustar a 100% del contenedor */
    height: 100%; /* Ajustar altura para llenar el contenedor */
    object-fit: cover; /* Mantener la proporción y cubrir el contenedor */
}

/* Estilos generales para la tabla */
.responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.responsive-table th,
.responsive-table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.responsive-table th {
    background-color: #f8f9fa;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-sidebar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .results-card {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1.5rem;
    }

    .responsive-table {
        width: 100%;
    }

    .responsive-table thead {
        display: none;
    }

    .responsive-table tr {
        display: block;
        margin-bottom: 1rem;
    }

    .responsive-table td {
        display: block;
        text-align: right;
        position: relative;
        padding-left: 50%;
        padding-right: 1rem;
        border: none;
    }

    .responsive-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 0.75rem;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
    }

    .responsive-table td:last-child {
        border-bottom: 1px solid #dee2e6;
    }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-sidebar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .results-card {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1.5rem;
        flex-direction: column; /* Cambiar a columna */
    }

    .vertical-tabs-left {
        flex-direction: row; /* Cambiar a fila */
        width: 100%; /* Ocupar todo el ancho */
        justify-content: space-around; /* Espaciado entre botones */
        margin-bottom: 1rem; /* Margen inferior para separación del gráfico */
    }

    .chart-container {
        width: 100%; /* Asegurarse de que ocupa todo el ancho */
        margin-top: 1rem; /* Espaciado superior */
    }

    /* Ajustar las tabs para que se muestren horizontalmente */
    .tab-button {
        width: auto; /* Ancho automático */
        border-radius: 0; /* Bordes cuadrados */
        margin: 0 5px; /* Espaciado entre botones */
    }
}

/* Estilos del botón de toggle */
.toggle-button {
    background-color: #535151;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%; /* Ocupa todo el ancho */
    text-align: left; /* Alinear a la izquierda */
}

/* Estilos del navbar */
.navbar {
    display: none; /* Ocultar por defecto */
    flex-direction: column;
    background-color: #535151;
    padding: 0.5rem;
}

.navbar .navbar-button {
    background: #313030;
    border: none;
    color: #fff;
    text-align: left;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.navbar .navbar-button:hover {
    background-color: #b80505; /* Color al pasar el ratón */
}



/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-sidebar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .results-card {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1.5rem;
        flex-direction: column; /* Cambiar a columna */
    }

    .vertical-tabs-left {
        display: none; /* Ocultar las tabs verticales en pantallas pequeñas */
    }

    .navbar {
        display: flex; /* Mostrar el navbar en pantallas pequeñas */
    }
}


/* Estilos para pantallas grandes */
@media screen and (min-width: 769px) {
    .navbar {
        display: none; /* Ocultar el navbar en pantallas grandes */
    }

    .toggle-button {
        display: none; /* Ocultar el botón de toggle en pantallas grandes */
    }

    .vertical-tabs-left {
        display:  block; /* Mostrar las tabs verticales en pantallas grandes */
    }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .navbar {
        display: flex; /* Mostrar el navbar en pantallas pequeñas */
    }

    .toggle-button {
        display: block; /* Mostrar el botón de toggle en pantallas pequeñas */
        background-color:#313030;
    }

    .vertical-tabs-left {
        display: none; /* Ocultar las tabs verticales en pantallas pequeñas */
        background-color:#313030;
    }
}


</style>

<div class="container">
    <button class="toggle-button" onclick="toggleNavbar()"><i class="fa-solid fa-toggle-off"></i></button>
    <div class="navbar" id="navbar">
        <button class="navbar-button" onclick="window.location.href='{% url 'businessmodel:admin_ventas_detail' venta_id=venta.id %}'">
            <i class="fa-solid fa-database"></i> Base de Datos
        </button>
        <button class="navbar-button" onclick="window.location.href='{% url 'businessmodel:admin_ventas_detail' venta_id=venta.id %}'">
            <i class="fa-solid fa-info"></i> Información
        </button>
        <button class="navbar-button" onclick="window.location.href='{% url 'businessmodel:admin_historial' venta_id=venta.id %}'">
            <i class="fa-solid fa-list"></i> Historial
        </button>
        <button class="navbar-button" onclick="window.location.href='{% url 'businessmodel:admin_metricas' venta_id=venta.id %}'">
            <i class="fa-solid fa-chart-simple"></i> Métricas
        </button>
        <button class="navbar-button" onclick="openTab(event, 'estadisticas')">
            <i class="fa-solid fa-chart-line"></i> Estadísticas
        </button>
        <button class="navbar-button" onclick="openTab(event, 'estadisticas')">
            <i class="fa-solid fa-chart-pie"></i> Gráficos
        </button>
        <button class="navbar-button" onclick="togglePopup()">
            <i class="fa-solid fa-ruler-combined"></i> Filtros
        </button>
        <button class="navbar-button" onclick="toggle_resultsPopup()">
            <i class="fa-solid fa-square-poll-vertical"></i> Resultados
        </button>
        <button class="navbar-button" onclick="toggle_reportPopup()">
            <i class="fa-solid fa-file"></i> Reporte
        </button>
     
        <button class="navbar-button" onclick="window.location.href='{% url 'businessmodel:admin_historial' venta_id=venta.id %}'">
            <i class="fa-solid fa-print"></i> Imprimir
        </button>
    </div>


    <div id="filterPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="togglePopup()">&times;</span>
            <form method="GET">
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_fecha_inicio">Fecha Inicial</label>
                        {{ form.fecha_inicio }}
                    </div>
                    <div class="form-group">
                        <label for="id_hora_inicio">Hora Inicial</label>
                        {{ form.hora_inicio }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_fecha_fin">Fecha Final</label>
                        {{ form.fecha_fin }}
                    </div>
                    <div class="form-group">
                        <label for="id_hora_fin">Hora Final</label>
                        {{ form.hora_fin }}
                    </div>
                </div>
                <button type="submit" class="filter-button"> <i class="fa-solid fa-ruler-combined"></i> Analizar distribución de venta en el tiempo </button>
            </form>
        </div>
    </div>



    <div id="resultsPopup" class="popup-results">
        <div class="popup-content-results">
            <span class="close" onclick="toggle_resultsPopup()">&times;</span>
            <h4>Analíticas de Ingresos Operativos</h4>
            <h5>Analisis de venta, desde: {{ fecha_inicio }} / hasta {{ fecha_fin }}</h5>
            <table>
                <thead>
                    <tr><th>Parámetros</th>
                        <th>Analizados</th>
                        <th>Totales</th>
                        <th>(%) Analizado </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rango de tiempo</td>
                        <td>
                        {{ total_horas|floatformat:2 }} Hs - {{ total_dias|floatformat:2 }}D - {{ total_meses|floatformat:2 }}M - {{ total_años|floatformat:2 }} Y
                        </td>
                        <td>
                        
                        </td>
                    </tr>
                 
                    <tr>
                        <td>Cantidad de tickets</td>
                        <td> {{ cantidad_ventas }} </td>
                        <td>{{ cantidad_neta_ventas|floatformat:0  }} </td>
                        <td>
                            ({{ porcentaje_cantidad_ventas|floatformat:1 }}%) 
                        <div style="display: inline-block; width: 100px; margin-left: 10px;">
                            <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                <div style="background-color: #b80b0b; width: {{ porcentaje_cantidad_ventas|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div> 
                            </div>
                        </div>
                    </td>
                </tr>
                    <tr>
                        <td>Monto total de venta</td>
                        <td> $ {{ venta_total|floatformat:2 }}</td>
                        <td> $ {{ total_monto_neto|floatformat:2 }} </td>
                        <td>({{ porcentaje_monto_ventas|floatformat:0 }}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_monto_ventas|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Monto  de I.V.A (15%)</td>
                        <td> $ {{ quince_por_ciento|floatformat:2 }} </td>
                        <td> $ {{total_monto_iva_neto|floatformat:2}} </td>
                            <td>({{ porcentaje_iva_ventas|floatformat:0 }}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_iva_ventas|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td> 
                    </tr>
                    <tr>
                        <td>Promedio de ventas</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:0}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Margen Bruto</td>
                        <td> $ {{ sub_total_variable_cost|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:0}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Margen de Contribución</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:0}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>EBIT (Beneficio Antes de Intereses e Impuestos):</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>EBIT (Beneficio Antes de Intereses e Impuestos)</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:0}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>EBITDA (Beneficio Antes de Intereses, Impuestos, Depreciación y Amortización)</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Crecimiento de Ingresos</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Tasa de Retención de Clientes</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Costo de Adquisición de Clientes (CAC)</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Tasa de Conversión de Ventas</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Rotación de Inventarios</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Rotación de Inventarios</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Días de Cuentas por Cobrar</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Días de Cuentas por Pagar</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Ciclo de Conversión de Efectivo</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Rentabilidad sobre Ventas (ROS)</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Tasa de Crecimiento Anual Compuesto (CAGR)</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Índice de Satisfacción del Cliente</td>
                        <td> $ {{ promedio_venta|floatformat:2 }}</td>
                        <td> $ {{ promedio_total_venta|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_venta|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{ porcentaje_promedio_venta|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Crecimiento/Decremento  </td>
                        {% if numero_maximos > numero_minimos %}
                            <td>
                                Aumento: ({{ rapidez|floatformat:0 }}%)
                                <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                    <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                        <div style="background-color: #0b70b8; width: {{ rapidez|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                    </div>
                                </div>
                            </td>
                        {% elif numero_minimos > numero_maximos %}
                            <td>
                                Disminución: ({{ rapidez_d|floatformat:0 }}%)
                                <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                    <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                        <div style="background-color: #b80b0b; width: {{ rapidez_d|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                    </div>
                                </div>
                            </td>
                        {% else %}
                            <td>No hay cambios significativos</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Ingresos Operativos</td>
                        <td>${{ total_monto|floatformat:2 }}</td>
                        <td>$ {{ total_monto_neto|floatformat:2 }} </td>
                            <td>({{porcentaje_promedio_ingresos|floatformat:2}}%)
                            <div style="display: inline-block; width: 100px; margin-left: 10px;">
                                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 10px;">
                                    <div style="background-color: #b80b0b; width: {{porcentaje_promedio_ingresos|floatformat:0 }}%; height: 100%; border-radius: 5px;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <div id="reportPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="toggle_reportPopup()">&times;</span>
            <form id="reportForm" onsubmit="return redirectToPDF(event)">
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_fecha_inicio">Fecha Inicial</label>
                        {{ form.fecha_inicio }}
                    </div>
                    <div class="form-group">
                        <label for="id_hora_inicio">Hora Inicial</label>
                        {{ form.hora_inicio }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_fecha_fin">Fecha Final</label>
                        {{ form.fecha_fin }}
                    </div>
                    <div class="form-group">
                        <label for="id_hora_fin">Hora Final</label>
                        {{ form.hora_fin }}
                    </div>
                </div>
                <button type="submit" class="filter-button"> <i class="fa-regular fa-file-pdf"></i> Generar reporte</button>
            </form>
        </div>
    </div>

    

    <div class="results-card">
        <div class="vertical-tabs-left">
       
                <button class="database-button" onclick="window.location.href='{% url 'businessmodel:admin_ventas_detail' venta_id=venta.id %}'"><i class="fa-solid fa-database"></i></button>
                <button class="filter-popup-button" onclick="togglePopup()"><i class="fa-solid fa-ruler-combined"></i></button>
                <hr style="color:white">
                <button class="tab-button" onclick="window.location.href='{% url 'businessmodel:admin_ventas_detail' venta_id=venta.id %}'"><i class="fa-solid fa-info"></i>   </button>
                <button class="tab-button" onclick="window.location.href='{% url 'businessmodel:admin_historial' venta_id=venta.id %}'"><i class="fa-solid fa-list"></i></button>
                <hr style="color:white">
                <button class="tab-button" onclick="window.location.href='{% url 'businessmodel:admin_metricas' venta_id=venta.id %}'"><i class="fa-solid fa-chart-line"></i></button>
                
                <button class="tab-button" onclick="openTab(event, 'estadisticas')"><i class="fa-solid fa-chart-simple"></i></button>
                <button class="tab-button" onclick="openTab(event, 'estadisticas')"><i class="fa-solid fa-chart-pie"></i></button>
               
                <hr style="color:white">
                <button  class="results-button" onclick="toggle_resultsPopup()"><i class="fa-solid fa-window-maximize"></i></button>
                <button class="filter-popup-button" onclick="toggle_reportPopup()"><i class="fa-regular fa-file-pdf"></i></button>
             
        
        
        </div>

        <div class="chart-container">

            {% if grafico_montos %}
                <img src="data:image/png;base64,{{ grafico_montos }}" alt="Gráfico de Ventas" />
            {% else %}
                <p>No hay datos para mostrar.</p>
            {% endif %}
        </div>


    </div>



 
</div>
<script>

function redirectToPDF(event) {
    event.preventDefault(); // Evita el envío normal del formulario

    // Obtén los valores del formulario
    const fechaInicio = document.getElementById('id_fecha_inicio').value;
    const horaInicio = document.getElementById('id_hora_inicio').value;
    const fechaFin = document.getElementById('id_fecha_fin').value;
    const horaFin = document.getElementById('id_hora_fin').value;

    // Construye la URL del PDF, ajusta según tu ruta
    const url = `{% url 'businessmodel:metricas_ventas_comprobante' venta_id=venta.id %}?fecha_inicio=${fechaInicio}&hora_inicio=${horaInicio}&fecha_fin=${fechaFin}&hora_fin=${horaFin}`;

    // Redirige a la URL construida
    window.location.href = url;
}

    function togglePopup() {
        const popup = document.getElementById("filterPopup");
        popup.style.display = popup.style.display === "block" ? "none" : "block";
    }

       // Cerrar el popup si el usuario hace clic fuera de él
    window.onclick = function(event) {
        const popup = document.getElementById("filterPopup");
        if (event.target === popup) {
            popup.style.display = "none";
        }
    }

    function toggle_reportPopup() {
        const popup = document.getElementById("reportPopup");
        popup.style.display = popup.style.display === "block" ? "none" : "block";
    }
       // Cerrar el popup si el usuario hace clic fuera de él
    window.onclick = function(event) {
        const popup = document.getElementById("reportPopup");
        if (event.target === popup) {
            popup.style.display = "none";
        }
    }

 

    function toggle_resultsPopup() {
        const popup = document.getElementById("resultsPopup");
        popup.style.display = popup.style.display === "block" ? "none" : "block";
    }

    // Cerrar el popup si el usuario hace clic fuera de él
    window.onclick = function(event) {
        const popup = document.getElementById("resultsPopup");
        if (event.target === popup) {
            popup.style.display = "none";
        }
    }

    function toggleNavbar() {
    const navbar = document.querySelector(".navbar");
    const toggleButton = document.getElementById("toggleButton");

    if (navbar.style.display === "flex") {
        navbar.style.display = "none";
        toggleButton.textContent = "Menú de Opciones"; // Cambiar texto a "Menú de Opciones"
    } else {
        navbar.style.display = "flex";
        toggleButton.textContent = "Abierto"; // Cambiar texto a "Abierto"
    }
}

    
    
</script>

{% endblock %}
